*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#eclipse and maven folders
RemoteSystemsTempFiles/
/.metadata/
target/
/.apt_generated/
server/.settings/
server/.classpath
server/.factorypath
server/.project
tmp/

#spring stuff
.springBeans

#project stuff
deploy

#resources
server/src/main/resources/resources/index.html
server/src/main/resources/resources/*.js
server/src/main/resources/resources/*.ico
server/src/main/resources/resources/3rdpartylicenses.txt
server/src/main/resources/resources/*.css
server/src/main/resources/resources/*



divx2pass*
.attach*

