<div class="box">
  <div class="image-list-text">
    <h1>History: {{listDescription}}</h1>
  </div>
  <div class="slider">
    <mat-slide-toggle [checked]="autoUpdate" (change)="updateChanged($event)">Update</mat-slide-toggle>
  </div>
</div>
<p></p>
<mat-grid-list [cols]="columns" (window:resize)="onResize()">
  <div *ngFor="let cameraURL of urls">
    <mat-grid-tile>
      <app-camera
      (clickImage)="imageClickEvent('all')"
      [imageUrl]="cameraURL" 
      [update]=false 
      [description]="getDescription(cameraURL)">
      </app-camera>
    </mat-grid-tile>
  </div>
</mat-grid-list>