<mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10" [opened]="!isScreenSmall()"
        [mode]="isScreenSmall() ? 'over' : 'side'">
        <mat-toolbar color="primary">
            Menu
        </mat-toolbar>

        <mat-nav-list>
            <mat-list-item (click)="clickAllCameras()">
                <mat-icon matSuffix>camera_enhance</mat-icon>
                All Cameras
            </mat-list-item>
        </mat-nav-list>

        <mat-nav-list *ngFor="let camera of camerainfo">
            <mat-list-item (click)="clickCamera(camera.id)">
                <mat-icon matSuffix>camera</mat-icon>
                {{camera.description}}
            </mat-list-item>
        </mat-nav-list>

    </mat-sidenav>

    <div class="app-sidenav-content">
        <app-toolbar (toggleSidenav)="sidenav.toggle()" >
        </app-toolbar>
        <div class="wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>

</mat-sidenav-container>