<app-toolbar (toggleSidenav)="sidenav.toggle()" >
</app-toolbar>
<mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10" [opened]="!isScreenSmall()"
        [mode]="isScreenSmall() ? 'over' : 'side'">
        <mat-toolbar color="primary" class="toolbar">
            Menu
        </mat-toolbar>

        <mat-nav-list>
            <mat-list-item [routerLink]="['all']" routerLinkActive="active-menu" (click)="clickAllCameras()">
                <mat-icon matSuffix>camera_enhance</mat-icon>
                All Cameras
            </mat-list-item>
        </mat-nav-list>

        <mat-nav-list *ngFor="let camera of cameraData">
            <mat-list-item [routerLink]="['image-list', camera.getId()]" routerLinkActive="active-menu" (click)="clickCamera(camera)">
                <mat-icon matSuffix>camera</mat-icon>
                {{camera.getDescription()}}
            </mat-list-item>
        </mat-nav-list>

        <mat-nav-list>
            <mat-list-item [routerLink]="['things']" routerLinkActive="active-menu" (click)="clickAllThings()">
                <mat-icon matSuffix>settings_remote</mat-icon>
                All Things
            </mat-list-item>
        </mat-nav-list>


    </mat-sidenav>

    <div class="app-sidenav-content">
        <div class="wrapper" id="content-view-area">
            <router-outlet></router-outlet>
        </div>
    </div>

</mat-sidenav-container>