.image-animated.ng-enter,
.image-animated.ng-leave,
.image-animated.ng-move {
  transition: 0.5s linear all;
}

.image-animated.ng-enter,
.image-animated.ng-move {
  height: 0;
  opacity: 0;
  overflow: hidden;
  border-radius: 5%;
}

.image-animated.ng-enter.ng-enter-active,
.image-animated.ng-move.ng-move-active {
  height: 120px;
  opacity: 1;
}

.image-animated.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.image-animated.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.trasition-in {
	opacity: 1;
	border-radius: 5%;
	transition: 0.5s linear all;
}

.trasition-out {
	opacity: 0.5;
	border-radius: 5%;
	transition: 0.5s linear all;
}